/target
/.classpath
/.settings
/.project
/build
/out
.gradle


# the highscore file should not be commited
highscores.json

# backup files from SceneBuilder
*.bak

#idea
.idea
*.iml
